strong.main {
  color: var(--primary);
}

mark.main {
  padding         : 0px 5px;
  color           : #fff;
  background-color: var(--primary);
}






#background-layout {
  height         : 100vh;
  background     : url("../imgs/bg-small.jpg") center center no-repeat;
  background-size: cover;
}

.bg-black-opacity {
  width           : 100%;
  height          : 100%;
  background-size : cover;
  display         : flex;
  flex-direction  : column;
  background-image: linear-gradient(180deg, #000000da, #0000009c, #0000009c, #000000da);
}



.header {
  width          : 100%;
  padding        : 10px 20px;
  display        : flex;
  justify-content: center;
  transition     : all ease-in-out .2s;
  z-index        : 99;
}

.area-svg {
  width: 120px;
}

.area-svg svg {
  fill: var(--primary);
}

#mt-content {
  margin-top: 100px;
}

.content {
  padding        : 32px;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  color          : #fff;
}

.content h1 {
  max-width  : 450px;
  font-size  : 35px;
  line-height: 1.4em;
  text-align : center;

  div {
    display    : inline;
    text-shadow: 2px 2px 2px #00000080;

  }
}

.content p {
  display      : flex;
  align-items  : center;
  justify-items: center;
}

strong.bg {
  display      : block;
  padding      : 2px 5px;
  border-radius: 3px;
  color        : var(--primary);
}


/* #content-field {
  padding        : 32px;
  margin-top     : 20px;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  color          : #fff;
} */

#content-form {
  flex: 1;
}

#content-form>h2 {
  width        : 100%;
  margin-top   : -100px;
  margin-bottom: 10px;
  font-size    : 16px;
}

form {

  width         : 100%;
  display       : flex;
  flex-direction: column;
}

#in-email {
  width           : 100%;
  height          : 48px;
  padding         : 0px 10px;
  font-size       : 18px;
  border-radius   : 5px;
  border          : 2px solid rgba(128, 128, 128, 0.534);
  color           : #fff;
  background-color: #000;
}

#btn-main {
  width           : 100%;
  height          : 48px;
  margin-top      : 20px;
  padding         : 0px 10px;
  font-size       : 18px;
  border-radius   : 5px;
  color           : #fff;
  background-color: var(--primary);

  &:active {
    background-color: var(--primary-for);
    opacity         : 0.8;
  }
}

.form-area-btn {
  display        : flex;
  justify-content: flex-end;
}

header>h2 {
  margin-top: 20px;
  width     : 100%;
  font-size : 20px;
  padding   : 10px 20px;
}

article p {

  color: #555;
}

.section-on-the-rise-overflow {
  width     : 100%;
  overflow-x: scroll;
  padding   : 0px 20px;
}

.on-the-rise {
  gap       : 10px;
  display   : flex;
  overflow-x: scroll;


}

.on-the-rise::-webkit-scrollbar {
  width  : 0;
  display: none;
}

.on-the-rise .img-item {
  width   : fit-content;
  position: relative;
}

.on-the-rise .img-item img {
  width        : 135px;
  border-radius: 5px;
  box-shadow   : 2px 2px 2px #0000005e;
}



.section-reasons {
  padding              : 10px 20px;
  display              : grid;
  grid-template-columns: repeat(1, 1fr);
  gap                  : 10px;
}

.section-reasons .reasons-item {
  padding      : 5px 10px;
  border-radius: 10px;
  border-bottom: 1px solid #00000033;
  box-shadow   : 1px 1px 2px #00000033;
}

.section-reasons .reasons-item h3 {
  margin-top   : 10px;
  color        : var(--primary);
  margin-bottom: 5px;
  text-shadow  : 1px 1px #00000048;
}

.section-reasons .reasons-item p {
  -webkit-hyphens: auto;
  hyphens        : auto;
}

.reasons-item-svg {
  margin-top     : 10px;
  display        : flex;
  justify-content: end;
}

.reasons-item-svg svg {
  width: 60px;
}

/* #frequently-asked-questions {} */

#frequently-asked-questions dl {
  padding       : 20px;
  display       : flex;
  flex-direction: column;
  gap           : 10px;
}

.frequently-asked-questions-item {
  height          : 40px;
  border-radius   : 5px;
  transition      : height ease-in-out .3s;
  overflow        : hidden;
  background-color: #8080801a;

}

.frequently-asked-questions-item .more svg {
  width     : 28px;
  transition: all ease-in-out .2s;

}

.frequently-asked-questions-item dt {
  height         : 40px;
  padding        : 10px;
  font-size      : 18px;
  display        : flex;
  align-items    : center;
  text-wrap      : nowrap;
  text-overflow  : ellipsis;
  display        : flex;
  justify-content: space-between;
  align-items    : center;

}

.frequently-asked-questions-item dd {
  padding        : 0px 10px;
  font-size      : 18px;
  -moz-hyphens   : auto;
  -webkit-hyphens: auto;
  hyphens        : auto;

}

.frequently-asked-questions-item dd p {
  text-indent: 20px;
}